@import '../library';

.section {
  // @include section(#fff);
  @include section(#F6F5F4);
}

.button {
  letter-spacing: 1px;
}

.button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 24px;

  @include offset-btn(#1c1c20);
}
