@import '../library';

.card {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  width: 100%;
  margin: 24px auto;
}

.card:hover > .card_image_box::after {
  opacity: 0;
}

.card:hover > .card_image_box_even::after {
  opacity: 0;
}

.card_image_box {
  width: 480px;
  height: 360px;
  grid-column: 7/ -1;
  grid-row: 1 / 1;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom right, #2caeba, #222);
    opacity: 0.85;
    transition: all 0.3s linear;
  }
}

.card_image_box_even {
  grid-column: 2/ -1;
  grid-row: 1 / 1;
  width: 480px;
  height: 360px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom right, #2caeba, #222);
    opacity: 0.85;
    transition: all 0.3s linear;
  }
}

.card_image {
  width: 100%;
  height: 100%;
}

.card_info {
  padding: 16px 32px;
  background-color: #fff;
  z-index: 1;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 2;
  position: relative;
  grid-column: 3 / span 5;
  grid-row: 1 / 1;
}

.card_info_even {
  padding: 16px 32px;
  background-color: #fff;
  z-index: 1;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 2;
  position: relative;
  grid-column: 6 / 11;
  grid-row: 1 / 1;
}

.card_info_no {
  color: $primary;
}

.card_info_title {
  font-size: 24px;
  letter-spacing: 2px;
}

.card_info_content {
  position: relative;
}

.card_info_content::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 50px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 1) 50%
  );
  left: 0;
  bottom: 20px;
}

.card_tag_group {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

@media screen and (max-width: 768px) {
  .card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 480px;
    margin: 24px auto;
  }

  .card_image_box {
    width: 100%;
    height: 360px;
  }

  .card_image_box_even {
    grid-column: 2/ -1;
    grid-row: 1 / 1;
  }

  .card_info {
    width: 100%;
  }

  .card_info_even {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }

  .card_image_box {
    width: 100%;
    height: 280px;
  }

  .card_image_box_even {
    width: 100%;
    height: 280px;
  }

  .stack {
    width: 85%;
    // display: inline-block;
    overflow: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .stack::-webkit-scrollbar {
    display: none;
  }
}
